# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*.local
